/* *{
  width: 100%;
} */
body {
  margin: 0 auto;
    margin: center;
    background-color:white
    

    }
img{
  height: 100%;
  width: 100%;
}
.menu{
  width: 100%;
  height: 50px;
}
.header_left{
    float: left;
  
}
    
.header_right{ 
    float: right;
    margin-right: 40px;
   

}

li {
    list-style-type: none;
  }
  ul{
    display: flex;
  }
.header_left a{
    padding: 0px 10px;
    display: block;
  }
.header_right a{
    padding: 0px 10px;
    display: block;
  }
  .banner{
    width: auto;
    background: url(/image/lodging.png);
    background-color: whitesmoke;
    padding-top: 25%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    
  }
  .conten-banner{
    margin-top: -200px;
    margin-left: 100px;
  }
  .conten-banner p{
    color: white;
    margin-top: 10px;
  }

  .center{
height: 1000px ;
background-color: rgb(235, 235, 235);
  }

.banner h2{
  color: whitesmoke;
  font-size: 30px;
}
.banner .p{
  color: whitesmoke;
  font-size: 20px;
}
.neighborhood{
  padding-left: 20px;
  height: 70px;
}
.top{

  padding-top: 40px;
}
.conten-part{
  float: left;
  width: 33.3%;
  padding-left: 40px;
}
.conten-part img{
  height: 200px; 
  width: 100%;
}
.right{
  padding-top: 40px;
  margin-bottom: 40px;
}
.container{
  width: 100%;
}


footer{
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 50px;
  background:rgba(241, 241, 240, 0.5);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
/* footer .container .noi-dung{
  margin-left :10px;
} */
footer  .container .noi-dung.about{
  width:30%;
}
footer .container .noi-dung.about h2{
  position: relative;
  color: black;
  font-weight: 30%;
  margin-bottom: 15px;
}
footer .container .noi-dung.about p{
  color:black;
}
footer .container .noi-dung{
  margin-right: 30px;
}
@media screen and (max-width: 769px) {
  .banner{
    background: none;
  }
  .conten-banner p{
    color: black;
  }
  .conten-part{
    float: none;
    width: 100%;
  }
  .header_right{ 
    float: left;
}

.center{
  height: 1700px ;
}
footer .container{
  display:inline;
}
footer  .container .noi-dung.about{
  width:100%;
}
footer .container .noi-dung.about h2{

  font-weight: 100%;

}

}


  /* .marginbt{
    margin-bottom: auto;
    overflow: auto;
  } */
  /* @media screen and (max-width:768px) {
  .column {
    width: 100%;
  }
  }
.body-color{
  background-color: blue;
} */
